/* These values are NOT scoped to the component. This file being separate is purely for organization. */

@import 'tailwindcss';

@theme {
	/* Typewriter */
	--animate-typewriter: typewriter-text 2s steps(14) forwards,
		typewriter-cursor 1s step-end 2.5s infinite;
	@keyframes typewriter-text {
		from {
			width: 0%;
		}
		to {
			width: 100%;
		}
	}
	@keyframes typewriter-cursor {
		50% {
			border-color: transparent;
		}
	}
}

.typewriter-0 {
	width: 0;
	animation: typewriter-text-deletes 4s steps(14) forwards;
}

.typewriter-1 {
	width: 0;
	animation: typewriter-text-deletes 4s steps(9) 4s forwards;
}

.typewriter-2 {
	width: 0;
	animation:
		typewriter-text-remains 2s steps(26) 8s forwards,
		typewriter-cursor 1s step-end 10.5s infinite;
}

@keyframes typewriter-text-deletes {
	0% {
		width: 0%;
		border-width: 0 2px 0 0;
	}
	50% {
		width: 100%;
	}
	75% {
		width: 100%;
	}
	99% {
		border-width: 0 2px 0 0;
	}
	100% {
		width: 0%;
		border-width: 0;
		display: none;
	}
}

@keyframes typewriter-text-remains {
	from {
		width: 0%;
		border-width: 0 2px 0 0;
	}
	to {
		width: 100%;
		border-width: 0 2px 0 0;
	}
}

@keyframes typewriter-cursor {
	50% {
		border-color: transparent;
	}
}
